body{
    background-color: khaki;
    font-family: Tahoma, sans-serif;
}
body h1{
    background-color: orangered;
    color: black;
    text-align: center;
    font-family: serif;
}
h2{
    background-color:gold;
}
li{
    background-color: goldenrod;
    font-size: 20px;
}
img{
    width: 50%;
    height: auto;
}
p{
  background-color: rgba(200, 156, 10, 0.5);  
}